.webpage {
  text-align:center;
}

.sidebar {
  float: right;
  background-color: coral;
  color: rgb(75, 75, 239);
  border: 5px solid lightgreen;
  padding: 15px;
  margin: 25px;
  box-sizing: border-box;
  width: auto;
}

body{
  background-color: lightblue;
}

.centered-image {
  width: 50%;
  height: auto;
  margin: auto;
}